@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

* {
  margin:0;   /* 마진 리셋 */
  padding:0;   /* 패딩 리셋 */
  box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 
}
a {
  text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
}
ul {
  list-style: none;
}

#container {
  margin:0 auto;  /* 화면 중앙에 배치 */
  width:1200px;    /* 너비 */
}

/*********************************/
/* 헤더 영역 - 로고와 내비게이션 */
/*********************************/

header{
  width:100%;    /*  너비 */
  height:100px;   /* 높이 */ 
  background-color:#07c;
}

/* 로고 */
#logo{ 
  float:left;   /* 왼쪽으로 플로팅 */ 
  width:250px;   /*  너비 */ 
  height:100px;   /* 높이 */
  line-height:100px;  /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
  padding-left:20px;  /* 왼쪽에 여백 */
}
#logo h1 {
  font-family:'Merienda', cursive;
  font-weight:700;
  font-size:40px;   /* 글자 크기 */
  color:#fff;   /* 글자 색*/
  text-shadow:0 -1px 0 #222;  /* 그림자 색 */
}

/* 내비게이션 */
nav{  
  float:right;   /* 오른쪽으로 플로팅 */
  width:900px;   /*   너비 */  
  height:100px;   /* 메뉴 영역 높이 */  
  padding-top:40px;  /* 메뉴를 아래로 내리기 위해 */  
}
#topMenu {  
  height:60px; 
}
#topMenu > li {
  float:left;  /* 메뉴 항목을 왼쪽으로 플로팅 */ 
  position: relative;  /* 서브 메뉴를 absolute로 하기 위해, 이 부분을 relative로 */  
}
#topMenu > li > a{
  display:block;  /* 링크 텍스트는 블록으로 */ 
  color:#fff;  /* 글자 색 */
  font-weight:600;  /* 글자 굵기 */
  text-shadow:0 1px #07c;  /* 그림자 추가 */
  padding:20px 60px;  /* 패딩 */ 
}
#topMenu > li > a > span {
  font-size : 0.5em;   /* 서브 메뉴가 있는 항목에 화살표 표시 */   
}
#topMenu > li > a:hover {
  color:#000;  /* 마우스 오버하면 색상 바뀜 */ 
  text-shadow:0 -1px #07c;  /* 글자가 너무 굵어지지 않도록 */
}

#topMenu > li > ul { /* 서브 메뉴 스타일 */
  display: none;  /* 서브 메뉴 처음에는 화면에 안 보이게 */ 
  position:absolute;  /* 서브 메뉴 포지셔닝 */ 
  width:160px;
  background:rgba(255,255,255,0.6);  /* 슬라이드 쇼 비치도록 배경 색 조절 */
  left:20px;     
  margin:0;
}
#topMenu > li > ul > li {    
  padding:10px 10px 10px 30px;   /* 서브 메뉴 항목 */
}
#topMenu > li > ul > li > a { 
  font-size:14px;   
  padding:10px;
  color:#000;  
}
#topMenu > li:hover > ul {
  display: block;  /* 메인 메뉴 항목 위로 오버하면 서브 메뉴 표시 */
  z-index:10;  /* 슬라이드 쇼에 가리지 않게 조절 */ 
}
#topMenu > li > ul > li > a:hover {
  color:#f00;  /* 서브 메뉴 마우스 오버하면 색상 바뀜 */   
} 


/**************************************/
/*   타이틀 영역  - 지역 이름 표시 */
/**************************************/
#region1{
  height:50px;
  margin-left: 30px;
  font-size: large;
  display: flex; /* Flexbox 레이아웃 설정, 세로 중앙 정렬을 위해 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  font-weight: 600;
}


/**************************************/
/*   콘텐츠 영역  - 탭 메뉴            */
/*************************************/

#contents{  
  width:100%;   /* 너비 */
  height:auto;  /* 높이: 푸터 전까지 */   
}

/* 탭 메뉴 */
#tabMenu{  
  float:left;  /* 왼쪽으로 플로팅 */ 
  width:100%;   /* 너비 */ 
  height:100%;   /* 높이 */
  margin-top:0px;  /* 탭 메뉴 위쪽에 여백 두기 */
}
#tabMenu  input[type="radio"] {
  display:none;  /* 라디오 버튼 감춤 */ 
}
#tabMenu label {  /* 탭 제목 스타일 */ 
  display:inline-block;  /* 탭들을 가로로 배치 */
  margin:0 0;  /* 마진 */ 
  padding:10px 20px;  /* 패딩 */
  font-weight:500;   /* 글자 굵기 */
  text-align: center;   /* 글자 정렬 */
  color:#aaa;  /* 글자 색 */ 
  border:1px solid transparent;   /*  테두리 */ 
  border-radius: 80px;
}
#tabMenu label:hover {  /* 마우스 오버했을 때 탭 제목 스타일 */
  color:#222;  
  cursor:pointer;
}
#tabMenu input:checked + label {  /* 활성화된 탭 제목 스타일 */ 
  color:rgb(0, 132, 255);
  border:1px solid #ddd;
  background-color: #eee;
}

/*******************************/
/* 탭 내용                      */
/*******************************/
.tabContent {  /* 탭 내용 스타일 */
  display:none;
  padding:20px 0 0;
  border-top:0px solid #ddd;   /* 원래는 1px */
}
.tabContent h2{  
  display: none; /* display:none; */
}
/*****************/
.tabContent{
  list-style: decimal;
  margin-left:30px;
  font-size:16px;
  line-height:2.5;
}
.tabContent li{
  padding-left: 0px;
}

#tab1:checked ~ #notice1, 
#tab2:checked ~ #notice2,
#tab3:checked ~ #notice3,
#tab4:checked ~ #notice4,
#tab5:checked ~ #notice5,
#tab6:checked ~ #notice6,
#tab7:checked ~ #notice7,
#tab8:checked ~ #notice8,
#tab9:checked ~ #notice9,
#tab10:checked ~ #notice10
{
  display:block;
}
hr{
  border-width:1px 0 0 0; 
  border-style:dotted; 
  border-color:#bbb;
}

.review_list{
  margin-top: 40px;
}


/*************************/
/*    페이지 네비게이션   */
/*************************/
.pagination {
  margin-top: 20px;
  text-align: center;
}
.pagination a {
  display: inline;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  border: 1px solid #ccc;
  margin-right: 5px;
}
.pagination a:hover {
  background-color: #f2f2f2;
}
.pagination .previous,
.pagination .next {
  font-weight: bold;
}


/******************/
/*   푸터 영역    */
/******************/

footer{   
  width:100%;   /* 너비 */
  height:100px;  /* 높이 */
  background-color:gray;
  position: fixed;
  top:1000px;
}